<a href="https://colab.research.google.com/github/yeonghun00/dc/blob/main/Day.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
import pandas_datareader.data as web
import datetime

In [3]:
start = datetime.datetime(2000,1,1)
end = datetime.datetime(2021,1,26)

In [4]:
# Read Stock
code_name = '^KQ11'
df = web.DataReader(code_name, "yahoo", start, end)
df

                   High         Low  ...    Volume   Adj Close
Date                                 ...
2013-03-04   539.849976  537.359985  ...  372100.0  537.380005
2013-03-05   544.109985  540.429993  ...  455100.0  543.960022
2013-03-06   547.609985  542.700012  ...  486300.0  544.359985
2013-03-07   545.419983  538.289978  ...  509600.0  541.299988
2013-03-08   544.010010  539.590027  ...  490100.0  543.099976
...                 ...         ...  ...       ...         ...
2021-01-21   984.979980  975.619995  ...    2000.0  981.400024
2021-01-22   984.669983  975.049988  ...    2300.0  979.979980
2021-01-25   999.640015  981.049988  ...    1900.0  999.299988
2021-01-26  1007.520020  989.030029  ...    2700.0  994.000000
2021-01-27  1000.750000  984.369995  ...    2900.0  985.919983

[1936 rows x 6 columns]

In [5]:
change = df['Close'].values/df['Open'].values

In [6]:
change

array([0.99788306, 1.00653189, 0.9941377 , ..., 1.01860252, 0.994     ,
       0.98946227])

In [7]:
df['Change'] = change

In [8]:
df

                   High         Low  ...   Adj Close    Change
Date                                 ...
2013-03-04   539.849976  537.359985  ...  537.380005  0.997883
2013-03-05   544.109985  540.429993  ...  543.960022  1.006532
2013-03-06   547.609985  542.700012  ...  544.359985  0.994138
2013-03-07   545.419983  538.289978  ...  541.299988  0.992483
2013-03-08   544.010010  539.590027  ...  543.099976  1.000571
...                 ...         ...  ...         ...       ...
2021-01-21   984.979980  975.619995  ...  981.400024  1.001613
2021-01-22   984.669983  975.049988  ...  979.979980  0.997740
2021-01-25   999.640015  981.049988  ...  999.299988  1.018603
2021-01-26  1007.520020  989.030029  ...  994.000000  0.994000
2021-01-27  1000.750000  984.369995  ...  985.919983  0.989462

[1936 rows x 7 columns]

In [9]:
first = df[df['Change'] < 0.975]
first

                  High         Low        Open  ...    Volume   Adj Close    Change
Date                                            ...
2013-04-08  548.090027  528.780029  547.179993  ...  459600.0  528.780029  0.966373
2013-06-07  551.570007  531.030029  550.340027  ...  446000.0  535.750000  0.973489
2013-06-24  523.590027  508.649994  523.500000  ...  379900.0  508.649994  0.971633
2013-06-25  508.760010  478.679993  505.279999  ...  539000.0  480.959991  0.951868
2013-11-11  517.919983  502.440002  517.369995  ...  364300.0  502.940002  0.972109
...                ...         ...         ...  ...       ...         ...       ...
2020-09-21  892.340027  859.400024  889.940002  ...    2000.0  866.989990  0.974212
2020-09-22  867.890015  838.130005  867.719971  ...    2000.0  842.719971  0.971189
2020-10-26  808.059998  776.700012  808.059998  ...    1600.0  778.020020  0.962825
2020-10-30  814.590027  791.299988  814.159973  ...    1900.0  792.650024  0.973580
2020-12-22  953.479980  928.510010  953.479980  ...    1900.0  928.729980  0.974042

[61 rows x 7 columns]

In [10]:
second = df[df['Change'].shift(1) < 0.975]
second

                  High         Low        Open  ...    Volume   Adj Close    Change
Date                                            ...
2013-04-09  535.299988  517.099976  526.039978  ...  494100.0  528.150024  1.004011
2013-06-10  547.799988  537.940002  538.489990  ...  546100.0  547.000000  1.015803
2013-06-25  508.760010  478.679993  505.279999  ...  539000.0  480.959991  0.951868
2013-06-26  495.019989  482.359985  490.450012  ...  382800.0  493.070007  1.005342
2013-11-12  510.730011  504.130005  504.130005  ...  288500.0  510.730011  1.013092
...                ...         ...         ...  ...       ...         ...       ...
2020-09-22  867.890015  838.130005  867.719971  ...    2000.0  842.719971  0.971189
2020-09-23  856.140015  821.890015  855.570007  ...    2200.0  843.450012  0.985834
2020-10-27  794.039978  766.960022  771.840027  ...    2100.0  783.729980  1.015405
2020-11-02  805.919983  789.849976  796.460022  ...    1500.0  802.950012  1.008149
2020-12-23  938.909973  918.440002  932.250000  ...    1900.0  923.169983  0.990260

[61 rows x 7 columns]

In [11]:
total = len(first)
total

61

In [12]:
valid = sum(second['Change'].values <= first['Change'].values)
valid

9

In [13]:
valid / total

0.14754098360655737